{% load static %}
  <!-- pre loader area start -->
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <!-- loading content here -->
        <div class="tp-preloader-content">
          <div class="tp-preloader-icon text-center">
            <span class="tp-preloader-animation">
              <img src="{% static 'img/logo/preloader-logo.png' %}" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- pre loader area end -->