{% load static %}
<!-- header area start -->
<header
  id="header-sticky"
  class="transparent-header header-sticky header__sticky"
>
  <div class="header-area header-area-2 header__space pt-40">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-2 col-lg-2 col-md-6 col-6">
          <div class="logo">
            <a href="/">
              <img alt="logo" src="{% static 'img/logo/logo1.png' %}" />
            </a>
          </div>
        </div>
        <div class="d-none d-xl-block col-xl-6 col-lg-6">
          <div class="main-menu main-menu-2 menu__space">
            <nav id="tp-mobile-menu">
              <ul>
                <li>
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="has-dropdown">
                  <a href="{% url 'about' %}">about</a>
                  <ul class="submenu">
                    <li >
                      <a href="{% url 'team' %}">Member</a>
                    </li>
                 </ul>
                </li>
               
                <li class="has-dropdown" >
                  <a href="{% url 'blogs' %}">Actions</a>
                  <ul class="submenu">
                    <li >
                      <a href="{% url 'projects' %}">Projects</a>
                      
                    </li>
                 </ul>
                  
                </li>
               
                <li >
                  <a href="{% url 'donations' %}">Donations</a>
                  
                </li>
                <li>
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-6">
          <div
            class="header-right d-none d-lg-flex align-items-center justify-content-end"
          >
            <div class="header-icon">
              <ul class="d-flex">
                <li class="search-btn-wrap">
                  <a class="tp-header-search-toggle">
                    <i
                      class="fa-regular fa-magnifying-glass header-search-open"
                    ></i>
                    <i class="header_search-close text-white far fa-times"></i>
                  </a>
                  <div class="search-form">
                    <form action="">
                      <input name="q" type="text" placeholder="search here" />
                      <button type="submit">
                        <i class="far fa-search"></i>
                      </button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
            <div class="language d-none d-xxl-block ml-35">
              <span
                ><a href="#">Eng <i class="fa-regular fa-chevron-down"></i></a
              ></span>
              <ul>
                <li><a href="#">Fr</a></li>
                <li><a href="#">العربية</a></li>
              </ul>
            </div>
            <div class="header-btn">
              <a class="tp-btn tp-btn-shine-effect" href="whatsapp://send?phone=+21621251143&text=As+someone+who+values+the+work+you+do%2C+I+would+like+to+make+a+donation+to+support+your+mission.+Could+you+please+provide+me+with+more+information+on+how+to+make+a+donation%3F+" target="_blank"
                ><span>Donate now</span></a
              >
            </div>
          </div>
          <div class="mobile-menu d-xl-none">
            <button class="tp-side-action tp-toogle hamburger-btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->

<!-- mobile menu style start -->
<div class="fix">
  <div class="tp-side-info">
    <div class="tp-side-logo">
      <a href="/">
        <img src="{% static 'img/logo/logo1.png' %}" alt="logo" />
      </a>
    </div>
    <div class="tp-side-close">
      <button><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="tp-mobile-menu-pos"></div>
    <div class="tp-side-content">
      <div class="tp-side-content__inner-btn mb-100">
        <a href="whatsapp://send?phone=+21621251143&text=I+am+writing+to+express+my+interest+in+joining+Rotary+Monastir+and+contributing+to+your+important+mission.+Your+work+in+charity+is+truly+inspiring%2C+and+I+would+be+honored+to+support+your+efforts.!" target="_blank" class="tp-btn">Donate now</a>
      </div>
      <div class="tp-contact-info d-flex flex-column">
        <a href="tel:088245684379"
          ><i class="fa-solid fa-phone-flip"></i> +2236 384 870</a
        >
        <a class="mail" href="mailto:infomai.@mail.com">Infomai.@mail.com</a>
      </div>
      <div class="tpfooter__social tpside-social">
        <a href="https://www.facebook.com/RotaryClub.Monastir"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://twitter.com/rotary"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.pinterest.com/rotary/"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://www.youtube.com/rotary"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/rotary-international"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="offcanvas-overlay"></div>
</div>
<!-- mobile menu style end -->
