<div class="col-lg-4">
    <div class="blog-left-box pl-20">
      <div class="blog-details__search-box mb-40">
        <h3>Search Here</h3>
        <div class="search-form p-relative">
          <form action="{% url 'blogs' %}" method="GET">
            <input name="q" type="text" placeholder="search here" />
            <button><i class="far fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="sidebar__widget mb-40">
        <h3 class="sidebar__widget-title">Categories</h3>
        <div class="sidebar__widget-content">
          <ul>
            {% for category in categories %}
            <li>
              <a href="{% url 'blogs' %}?q={{category.name}}"">{{ category.name }} </a>
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="sidebar__widget mb-40">
        <h3 class="sidebar__widget-title">Recent Post</h3>
        <div class="sidebar__widget-content">
          {% for p in posts %}
          <div class="sidebar__post">
            <div class="rc__post">
              <div class="rc__post d-flex align-items-center">
                <div class="rc__post-thumb">
                  <a href="{% url 'blog' p.slug %}"
                    ><img
                      width="150px"
                      height="100px"
                      src="{{p.image.url}}"
                      alt=""
                  /></a>
                </div>
                <div class="rc__post-content">
                  <span>{{p.date}}</span>
                  <h3 class="rc__post-title">
                    <a href="{% url 'blog' p.slug %}">{{p.title}}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>