{% extends 'main.html' %} {% load static %} {% block content %}
<main>
  <!-- Blog details area start -->
  <div class="blog-details-area pt-100 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-details-items">
            <div class="blog-details-thumb">
              <img src="{{post.image.url}}" alt="" />
            </div>
            <div class="blog-details-info d-flex">
              <div class="blog-details-date">
                <i class="fa-regular fa-clock"></i>
                <span>{{post.date}}</span>
              </div>
            </div>
            <div class="blog-details-content">
              <h3 class="blog-details-title">{{post.title}}</h3>
              <p>
                Laboratories used for scientific research take many forms
                because of the differing requirements of specialists in the
                various fields of science and engineering. A physics laboratory
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, aperiam ipsquae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim voluptatem voluptas sit aspernatur aut odit
                aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet,
              </p>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, aperiam ipsquae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="blog-details-no-secret mt-30">
                  <h3 class="title">There are no secrets</h3>
                  <p>
                    Must explain to you how all praising uts pain was born and I
                    will gives you a itself completed account of the system, and
                    sed expounds the ut actual teachings of that greater
                  </p>
                  <ul>
                    <li>
                      <span><i class="fas fa-check"></i></span>Extramural
                      Funding
                    </li>
                    <li>
                      <span><i class="fas fa-check"></i></span>Bacteria Markers
                    </li>
                    <li>
                      <span><i class="fas fa-check"></i></span>Nam nec mi
                      euismod euismod
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="no-secret-thumb mt-30">
                  <img
                    src="{% static 'img/blog/blog-details/blog-thumb-2.jpg' %}"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="blog-details-content">
              <h3 class="details-title">Assistance in the Student Program</h3>
              <p>
                Unlike detailed blueprints that lay out all tasks, deadlines,
                bug reports, and more along the way, technology roadmaps are
                high-level visual summaries highlighting a company’s vision or
                plans.
              </p>
              <p>
                In an Agile approach, a technology roadmap feeds the sprint and
                grooming processes, providing insight into how the product will
                travel from start to finish. It makes it easier for development
                teams to:
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="blog-details-content-thumb mt-20">
                  <img
                    src="{% static 'img/blog/blog-details/blog-thumb-3.jpg' %}"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="blog-details-content-thumb mt-20">
                  <img
                    src="{% static 'img/blog/blog-details/blog-thumn-4.jpg' %}"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="tag-box">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <div class="tagcloud">
                    <span>Categories</span>
                    {% for category in post.categories.all %}
                    <a href="blogs">{{ category.name }}</a>
                    
                    {% endfor %}
                  
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="postbox__share text-md-end">
                    <span>Share</span>
                    <a class="linkedin" href="#"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                    <a class="pinterest" href="#"
                      ><i class="fa-brands fa-pinterest-p"></i
                    ></a>
                    <a class="facebook" href="#"
                      ><i class="fa-brands fa-facebook-f"></i
                    ></a>
                    <a class="twitter" href="#"
                      ><i class="fa-brands fa-twitter"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="postbox__more-left mt-35 d-none d-md-block">
                  {% if post.get_previous_by_date %}
                  <div class="postbox__more-icon">
                    <h4>
                      <a href="{% url 'blog' post.get_previous_by_date.slug %}"
                        ><i class="fa-regular fa-angles-left"></i> Previous
                        Post</a
                      >
                    </h4>
                  </div>
                  <div class="postbox__more-content d-flex align-items-center">
                    <a href="{% url 'blog' post.get_previous_by_date.slug %}"
                      ><img
                        src="{% static 'img/blog/blog-details/post1.jpg' %}"
                        alt=""
                    /></a>
                    <span
                      ><a href="{% url 'blog' post.get_previous_by_date.slug %}"
                        >{{post.get_previous_by_date.title}}</a
                      ></span
                    >
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="postbox__more-right mt-35 d-none d-md-block">
                  {% if post.get_next_by_date %}
                  <div class="postbox__more-icon text-md-end">
                    <h4>
                      <a href="{% url 'blog' post.get_next_by_date.slug %}"
                        >Next Post <i class="fa-regular fa-angles-right"></i
                      ></a>
                    </h4>
                  </div>
                  <div
                    class="postbox__more-content d-flex align-items-center justify-content-md-end"
                  >
                    <span class="text-end"
                      ><a href="{% url 'blog' post.get_next_by_date.slug %}"
                        >{{post.get_next_by_date.title}}</a
                      ></span
                    >
                    <a href="{% url 'blog' post.get_next_by_date.slug %}"
                      ><img
                        src="{% static 'img/blog/blog-details/post2.jpg' %}"
                        alt=""
                    /></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
{% include 'sidebar.html' %}





      </div>
    </div>
  </div>
  <!-- Blog details area end -->
</main>
{% endblock content %}
