{% extends 'main.html' %} {% load static %} {% block content %}
<main>
  <!-- Blog details area start -->
  <div class="blog-details-area pt-100 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="blog-details-items">
            <div class="blog-details-thumb">
              <img src="{{post.image.url}}" alt="" />
            </div>
            <div class="blog-details-info d-flex">
              <div class="blog-details-date">
                <i class="fa-regular fa-clock"></i>
                <span>{{post.date}}</span>
              </div>
            </div>
            <div class="blog-details-content">
              <h3 class="blog-details-title">{{post.title}}</h3>
              <p>
               {{post.content}}
              </p>
            
            </div>
            
            <div class="blog-details-content mb-50">
        
              <div class="slider">
                {% for image in post_images %}
                <img
                  id="img-{{forloop.counter}}"
                  src="{{image.image.url}}"
                  alt="Image {{forloop.counter}}"
                />
                {% endfor %}
                
                {% if forloop.counter0 == 0  %}
                  active
                {% endif %}
                  
              </div>
              <div class="navigation-button">
                {% for image in post_images %}
                <span class="dot  {% if forloop.counter0 == 0  %}active{% endif %}" 
                onclick="changeSlide({{forloop.counter0}})"></span>
                {% endfor %}
              </div>
              
         
            </div>
           
            <div class="tag-box">
              <div class="row align-items-center">
                <div class="col-md-7">
                  <div class="tagcloud">
                    <span>Categories</span>
                    {% for category in post.categories.all %}
                    <a href="{% url 'blogs' %}?q={{category.name}}"">{{ category.name }}</a>
                    
                    {% endfor %}
                  
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="postbox__share text-md-end">
                    <span>Share</span>
                    <a class="linkedin" href="#"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                    <a class="pinterest" href="#"
                      ><i class="fa-brands fa-pinterest-p"></i
                    ></a>
                    <a class="facebook" href="#"
                      ><i class="fa-brands fa-facebook-f"></i
                    ></a>
                    <a class="twitter" href="#"
                      ><i class="fa-brands fa-twitter"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="postbox__more-left mt-35 d-none d-md-block">
                  {% if post.get_previous_by_date %}
                  <div class="postbox__more-icon">
                    <h4>
                      <a href="{% url 'blog' post.get_previous_by_date.slug %}"
                        ><i class="fa-regular fa-angles-left"></i> Previous
                        Post</a
                      >
                    </h4>
                  </div>
                  <div class="postbox__more-content d-flex align-items-center">
                    <a href="{% url 'blog' post.get_previous_by_date.slug %}"
                      ><img
                        src="{% static 'img/blog/blog-details/post1.jpg' %}"
                        alt=""
                    /></a>
                    <span
                      ><a href="{% url 'blog' post.get_previous_by_date.slug %}"
                        >{{post.get_previous_by_date.title}}</a
                      ></span
                    >
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="postbox__more-right mt-35 d-none d-md-block">
                  {% if post.get_next_by_date %}
                  <div class="postbox__more-icon text-md-end">
                    <h4>
                      <a href="{% url 'blog' post.get_next_by_date.slug %}"
                        >Next Post <i class="fa-regular fa-angles-right"></i
                      ></a>
                    </h4>
                  </div>
                  <div
                    class="postbox__more-content d-flex align-items-center justify-content-md-end"
                  >
                    <span class="text-end"
                      ><a href="{% url 'blog' post.get_next_by_date.slug %}"
                        >{{post.get_next_by_date.title}}</a
                      ></span
                    >
                    <a href="{% url 'blog' post.get_next_by_date.slug %}"
                      ><img
                        src="{% static 'img/blog/blog-details/post2.jpg' %}"
                        alt=""
                    /></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
{% include 'sidebar.html' %}





      </div>
    </div>
  </div>
  <!-- Blog details area end -->
</main>
{% endblock content %}
