{% extends 'main.html' %} {% load static %} {% block content %}
<main>
   <!-- donation details area start -->
   <div class="donation-details-area pt-100 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-lg-8">
             <div class="donation-details-item">
                <div class="donation-card-box donaion-details">
                   <div class="card-item">
                      <div class="tpcard__wrapper donation-details">
                         <div class="tpcard__thumb donation-details">
                            <img width="100%" src="{{donation.image.url}}" alt="">
                         </div>
                         <div class="tpcard__content donation-details">
                            <h4 class="tpcard__title donation-details">{{donation.title}}
                            </h4>
                            <div class="tpcard__progresss">
                               <div class="progress donation-details">
                                  <div class="progress-bar donation-details" role="progressbar"
                                     aria-label="Example with label" style="width: {{donation.get_percent}}%;" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                     <span>{{donation.get_percent}}%</span>
                                  </div>
                               </div>
                            </div>
                            <div class="tpcard__bottom d-flex justify-content-between">
                               <div class="tpcard__details donation-details">
                                  <span class="subtitle">our goal</span> <br>
                                  <span class="sale">{{donation.get_goal}} Dt</span>
                               </div>
                               <div class="tpcard__details donation-details">
                                  <span class="subtitle text-center">Raised</span> <br>
                                  <span class="sale">{{donation.get_raised}} Dt</span>
                               </div>
                               <div class="tpcard__details donation-details">
                                  <span class="subtitle text-end">to go</span> <br>
                                  <span class="sale">{{donation.get_to_go}} Dt</span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                
                <div class="donation-error-notification p-relative">
                   
                   <div class="donation-btn">
                      <a class="tp-btn tp-btn-shine-effect" href="donation-details.html">Donate now</a>
                   </div>
                </div>
                <div class="donation-details-text mt-60">
                   
                   <p class="mb-30">{{donation.content}}</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
             <div class="right-padding pl-25">
                <div class="sidebar__widget donation-details mb-40">
                   <h3 class="sidebar__widget-title donation-details">Categories</h3>
                   <div class="sidebar__widget-content donation-details">
                      <ul>
                        {% for category in categories %}
                        <li>
                          <a href="{% url 'donations' %}?q={{category.name}}">{{ category.name }} </a>
                        </li>
                        {% endfor %}
                      </ul>
                   </div>
                </div>
                <div class="sidebar__widget-contact">
                   <h3 class="sidebar__widget-title donation-details contact">Direct Contact us</h3>
                   <input type="text" placeholder="Enter name*">
                   <input type="email" placeholder="Enter your mail*">
                   <input type="text" placeholder="Message*">
                   <div class="sidebar-btn">
                      <button class="tp-btn tp-btn-shine-effect">send message</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
    <!-- donation details area end -->




      </div>
    </div>
  </div>
  <!-- Blog details area end -->
</main>
{% endblock content %}
