{% extends 'main.html' %} {% load static %} {% block content %}
<main>
  <!-- hero area start -->
  <section class="hero-area hero-area-2">
    <div class="hero-slider hero-style-2">
      <div class="hero-item hero-height p-relative">
        <div class="tpslider__thumb">
          <img src="{% static 'img/slider/home2/Monastir4.jpg' %}" alt="" />
        </div>
        <div class="hero-item-box">
          <div class="hero-item-inner">
            <div class="container-fluid">
              <div class="row hero-plr-225">
                <div class="col-xl-12">
                  <div class="tpslider__content mb-90">
                    <span class="tphero__subtitle has-before-hero"
                      >Who what we</span
                    >
                    <h2 class="tphero__title">
                      Give a helping hand to <br />
                      those who need <span>...</span>
                    </h2>
                    <div class="hero-btn">
                      <a class="tp-btn tp-btn-shine-effect" href="{% url 'about' %}"
                        >About us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-item hero-height p-relative">
        <div class="tpslider__thumb">
          <img src="{% static 'img/slider/home2/Monastir2.jpg'%}" alt="" />
        </div>
        <div class="hero-item-box">
          <div class="hero-item-inner">
            <div class="container-fluid">
              <div class="row hero-plr-225">
                <div class="col-xl-12">
                  <div class="tpslider__content mb-90">
                    <span class="tphero__subtitle has-before-hero"
                      >Who what we</span
                    >
                    <h2 class="tphero__title">
                      Even the smallest of <br />
                      donations can help <br />
                      change a life <span>...</span>
                    </h2>
                    <div class="hero-btn">
                      <a class="tp-btn tp-btn-shine-effect" href="{% url 'about' %}"
                        >About us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-item hero-height p-relative">
        <div class="tpslider__thumb">
          <img src="{% static 'img/slider/home2/Monastir3.jpg'%}" alt="" />
        </div>
        <div class="hero-item-box">
          <div class="hero-item-inner">
            <div class="container-fluid">
              <div class="row hero-plr-225">
                <div class="col-xl-12">
                  <div class="tpslider__content mb-90">
                    <span class="tphero__subtitle has-before-hero"
                      >Who what we</span
                    >
                    <h2 class="tphero__title">
                      Give a helping hand to <br />
                      those who need <span>...</span>
                    </h2>
                    <div class="hero-btn">
                      <a class="tp-btn tp-btn-shine-effect" href="{% url 'about' %}"
                        >About us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-item hero-height p-relative">
        <div class="tpslider__thumb">
          <img src="{% static 'img/slider/home2/Monastir5.jpg'%}" alt="" />
        </div>
        <div class="hero-item-box">
          <div class="hero-item-inner">
            <div class="container-fluid">
              <div class="row hero-plr-225">
                <div class="col-xl-12">
                  <div class="tpslider__content mb-90">
                    <span class="tphero__subtitle has-before-hero"
                      >Who what we</span
                    >
                    <h2 class="tphero__title">
                      Give a helping hand to <br />
                      those who need <span>...</span>
                    </h2>
                    <div class="hero-btn">
                      <a class="tp-btn tp-btn-shine-effect" href="{% url 'about' %}"
                        >About us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero area end -->

  <!-- features-2 area start -->
  <section class="features-area-2 pt-135">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12">
          <div class="tpfeatures-section__wrapper mb-40">
            <span
              class="section-sub-title has-before wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay=".3s"
              >what we do</span
            >
            <h3
              class="section-title wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay=".5s"
            >
              Various things we help in whole world
            </h3>
            <div
              class="tpfeatures__btn wow fadeInLeft"
              data-wow-duration="1s"
              data-wow-delay=".7s"
            >
              <a class="tp-btn-black tp-btn-shine-effect" href="{% url 'about' %}"
                >About Rotary</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-xl-7 col-lg-7 col-md-12 wow fadeInRight"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="tpfeatures d-flex mb-60 ml-36">
                <div class="tpfeatures__icon">
                  <img src="{% static 'img/icon/features-1.png'%}" alt="" />
                </div>
                <div class="tpfeatures__content">
                  <h3 class="tpfeatures__title">
                    <a href="#">Food and water</a>
                  </h3>
                  <p>All our content marketing service packages</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="tpfeatures d-flex mb-60 ml-15">
                <div class="tpfeatures__icon">
                  <img src="{% static 'img/icon/features-2.png'%}" alt="" />
                </div>
                <div class="tpfeatures__content">
                  <h3 class="tpfeatures__title">
                    <a href="#">Environment</a>
                  </h3>
                  <p>All our content marketing service packages</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="tpfeatures d-flex mb-60 ml-36">
                <div class="tpfeatures__icon">
                  <img src="{% static 'img/icon/features-3.png'%}" alt="" />
                </div>
                <div class="tpfeatures__content">
                  <h3 class="tpfeatures__title">
                    <a href="#">Build and repear</a>
                  </h3>
                  <p>All our content marketing service packages</p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="tpfeatures d-flex mb-60 ml-15">
                <div class="tpfeatures__icon">
                  <img src="{% static 'img/icon/features-4.png'%}" alt="" />
                </div>
                <div class="tpfeatures__content">
                  <h3 class="tpfeatures__title">
                    <a href="#">Education</a>
                  </h3>
                  <p>All our content marketing service packages</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- features-2 area end -->

  <!-- gallery area 2 start -->
  <section class="gallery-area-2 p-relative pt-60 pb-130">
    <div
      class="tpgallery-bg"
      data-background="{% static 'img/gallery/home-1/Map.png'%}"
    ></div>
    <div class="tpgallery-shape">
      <span class="tpgallery-shape-1 d-none d-md-block"></span>
      <span class="tpgallery-shape-2"></span>
      <span class="tpgallery-shape-3"></span>
      <span class="tpgallery-shape-4"></span>
      <span class="tpgallery-shape-5"></span>
      <span class="tpgallery-shape-6"></span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div
            class="tpgallery-2-img wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <img src="{% static 'img/gallery/home-1/gallery.png'%}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- gallery area 2 end -->

  <!-- Volunteers area start -->
  <section
    class="volunteers-area-2 pb-235 pt-90"
    data-background="{% static 'img/about/home1/about-background.png'%}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-7">
          <div class="tp-volunteers-2 d-flex mt-40">
            <div
              class="tp-volunteers-2__img1 wow fadeInLeft grayscale"
              data-wow-duration="1s"
              data-wow-delay=".5s"
            >
              <img src="{% static 'img/about/home1/about1.jpg'%}" alt="" />
            </div>
            <div
              class="tp-volunteers-2__img2 wow fadeInLeft grayscale"
              data-wow-duration="1s"
              data-wow-delay=".3s"
            >
              <img src="{% static 'img/about/home1/about2.jpg'%}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5">
          <div
            class="volunteers-2-section__wrapper tpvolunteers-2 pl-65 mt-40 wow fadeInRight"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <span class="section-sub-title has-before"> Volunteers</span>
            <h3 class="section-title">Make big changes and help the world</h3>
            <p>
              Charity is the act of giving help to those in <br />
              need of it. it is a humanitarian act. it involves <br />
              giving money goods or
            </p>
            <ul>
              <li>
                <span><i class="fas fa-check"></i></span>Extramural Funding
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>Bacteria Markers
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>Nam nec mi euismod
                euismod
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>In aliquet dui nec
                lectus
              </li>
            </ul>
            <div class="tpvolunteers-2-btn">
              <a class="tp-btn tp-btn-shine-effect" href="whatsapp://send?phone=+21621251143&text=I+am+writing+to+express+my+interest+in+joining+Rotary+Monastir+and+contributing+to+your+important+mission.+Your+work+in+charity+is+truly+inspiring%2C+and+I+would+be+honored+to+support+your+efforts!" target="_blank"
                >Became a volenteer</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- volunteers area end -->

  <!-- about area 2 start -->
  <section class="about-area-2">
    <div class="about-bg"></div>
    <div class="container">
      <div class="tp-about-box tp-about-box-translate">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-8 col-md-12">
            <div class="tp-about__left">
              <span class="section-sub-title has-before">Our Terget </span>
              <h3 class="section-title">
                The mission and goals of our organization
              </h3>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="tp-about__right d-flex justify-content-lg-end">
              <div
                class="tp-about__btn wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay=".3s"
              >
                <a class="tp-btn-black tp-btn-shine-effect" href="{% url 'about' %}"
                  >About Rotary</a
                >
              </div>
              <div
                class="about__play-btn ml-30 wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay=".5s"
              >
                <a
                  class="play-video popup-video"
                  href="https://www.youtube.com/watch?v=znJRCkmxoIs&amp;ab_channel=SalimRana"
                  ><i class="fa-solid fa-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about area 2 end -->

  <!-- card area start -->
  <section class="card-area card-area-2 pt-130 pb-130">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-8">
          <div class="section-title-wrapper">
            <span class="section-sub-title has-before"
              >We help around the world</span
            >
            <h3 class="section-title">Introduse our campains</h3>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4">
          <div class="next-btn">
            <div class="cause-slider-nav"></div>
          </div>
        </div>
      </div>
      <div class="causes-active slick-20">

        {% for donation in donations %}
        <div class="causes-item">
          <div class="tpcard__wrapper tpcard__wrappr-2 white-bg">
            <div class="tpcard__img grayscale">
              <a href="{% url 'donation' donation.slug %}"
                ><img src="{{donation.image.url}}" alt=""
              /></a>
            </div>
            <div class="tpcard__content">
              <h4 class="tpcard__title">
                <a href="{% url 'donation' donation.slug %}"
                  >{{donation.title}}</a
                >
              </h4>
              <div class="tpcard__progresss">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-label="Example with label"
                    style="width: {{donation.get_percent}}%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <span>{{donation.get_percent}}%</span>
                  </div>
                </div>
              </div>
              <div class="tpcard__bottom d-flex justify-content-between">
                <div class="tpcard__details">
                  <span class="subtitle">our goal</span> <br />
                  <span class="sale">{{donation.get_goal}} Dt</span>
                </div>
                <div class="tpcard__details">
                  <span class="subtitle">Raised</span> <br />
                  <span class="sale">{{donation.get_raised}} Dt</span>
                </div>
                <div class="tpcard__details">
                  <span class="subtitle">to go</span> <br />
                  <span class="sale">{{donation.get_to_go}} Dt</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

     
      </div>
      <div class="row">
        <div class="tpcard-btn d-flex justify-content-center mt-55">
          <a class="tp-btn tp-btn-shine-effect" href="{% url 'donations' %}"
            >All Campains</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- card area end -->

  <!-- volunteers area 3 start -->
  <section class="volunteers-area-3 pt-105 pb-90">
    <div
      class="volunteers-bg"
      data-background="{% static 'img/about/home1/volunteers-bg.png' %}"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12">
          <div
            class="volunteers-section-3__wrapper mt-30 wow fadeInLeft"
            data-wow-duration="1s"
            data-wow-delay=".3s"
          >
            <span class="section-sub-title has-before"> Volunteers</span>
            <h3 class="section-title">Unselfish love of one fellow men</h3>
            <p>
              Charity is the act of giving help to those in need of it. it is a
              humanitarian act. it involves giving money goods or
            </p>
            <ul>
              <li>
                <span><i class="fas fa-check"></i></span>Extramural Funding
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>Bacteria Markers
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>Nam nec mi euismod
                euismod
              </li>
              <li>
                <span><i class="fas fa-check"></i></span>In aliquet dui nec
                lectus
              </li>
            </ul>
            <div class="tpcta-3-btn">
              <a class="tp-btn tp-btn-shine-effect" href="whatsapp://send?phone=+21621251143&text=I+am+writing+to+express+my+interest+in+joining+Rotary+Monastir+and+contributing+to+your+important+mission.+Your+work+in+charity+is+truly+inspiring%2C+and+I+would+be+honored+to+support+your+efforts!" target="_blank"
                >Became a volenteer</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div
            class="tpvolunteers__thumb p-relative wow fadeInRight"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="tpvolunteers-3__img-1 d-none d-md-block">
              <img
                src="{% static 'img/about/home1/volunteers1.jpg' %}"
                alt=""
              />
            </div>
            <div class="tpvolunteers-3__img-2 d-none d-md-block">
              <img
                src="{% static 'img/about/home1/volunteers2.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- volunteers area 3 end -->

  <!-- our project area start -->
  <section class="tpproject-area p-relative pt-130 pb-150">
    <div
      class="tpproject-bg"
      data-background="{% static 'img/project/project-bg.png' %}"
    ></div>
    <div class="tpproject__shape">
      <span class="tpproject-shape1"></span>
      <span class="tpproject-shape2"></span>
      <span class="tpproject-shape3"></span>
      <span class="tpproject-shape4"></span>
      <span class="tpproject-shape5"></span>
    </div>
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xl-6 col-lg-9 col-md-12 col-12">
          <div class="tpproject-section__wrapper">
            <span class="section-sub-title has-before">Our Project</span>
            <h3 class="section-title">
              Various things we help in whole world of this world
            </h3>
          </div>
        </div>
        <div class="col-xl-6 col-lg-3 col-md-12 col-12">
          <div class="tpproject-btn mb-40">
            <a
              class="tp-btn-black tp-btn-shine-effect text-xl-end"
              href="{% url 'projects' %}"
              >See all Project</a
            >
          </div>
        </div>
      </div>

      {% for project in projects %}
      <div class="tpproject__wrapper">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 col-md-6 col-8">
            <div class="tpproject">
              <div class="tpproject__thumb d-none d-md-block">
                <a href="{% url 'project' project.slug %}" class="grayscale"
                  ><img class="rotated-img" src="{{project.image.url}}" alt=""
                /></a>
              </div>
              <div class="tpproject__content">
                <h3 class="tpproject__title">
                  <a href="{% url 'project' project.slug %}">{{project.title}}</a>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-4">
            <div class="tpproject__icon text-end">
              <a href="">
                <svg
                  width="40"
                  height="38"
                  viewBox="0 0 40 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M39.4994 2.04284C39.523 1.21475 38.8709 0.52427 38.0428 0.500609L24.5483 0.115054C23.7203 0.0913932 23.0298 0.743513 23.0061 1.5716C22.9825 2.39969 23.6346 3.09017 24.4627 3.11383L36.4578 3.45655L36.1151 15.4517C36.0914 16.2797 36.7435 16.9702 37.5716 16.9939C38.3997 17.0175 39.0902 16.3654 39.1138 15.5373L39.4994 2.04284ZM3.02994 37.0905L39.0299 3.09052L36.9701 0.909478L0.970065 34.9095L3.02994 37.0905Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

     
    
  </section>
  <!-- our project area end -->

  <!-- testimonial area start -->
  <div class="testimonial-top-white-space-2 pt-100 fix">
    <div class="testimonial-area bg-black position-relative">
      <div class="container">
        <div class="testimonial-shape d-none d-md-block">
          <div class="shape1">
            <img
              src="{% static 'img/testimonial/testimonial-shape1.png' %}"
              alt=""
            />
          </div>
          <div class="shape2">
            <img
              src="{% static 'img/testimonial/testimonial-shape2.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="testimonial-space">
              <div class="testimonial-active dots-style">
                <div class="tptestimonial__content">
                  <div class="tptestimonial__img img-border grayscale">
                    <img
                      class="mx-auto d-block"
                      src="{% static 'img/testimonial/home-1/Ellipse-1.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="tptestimonial__tlitle">
                    “With my coach, I
                    <span>developed more sustainable</span> ways to grow at a
                    point in my life where I felt like I was stagnating. Thank
                    you Coach!”
                  </div>
                  <div class="tptestimonial__authur">
                    <span class="text-center">Elizabeth</span>
                    <p class="text-center">Los Angeles, CA</p>
                  </div>
                </div>
                <div class="tptestimonial__content">
                  <div class="tptestimonial__img img-border grayscale">
                    <img
                      class="mx-auto d-block"
                      src="{% static 'img/testimonial/home-1/testimonial-2.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="tptestimonial__tlitle">
                    “To grow at a point in my
                    <span>developed more sustainable</span> ways With my coach,
                    I life where I felt like I was stagnating. Thank you Coach!”
                  </div>
                  <div class="tptestimonial__authur">
                    <span class="text-center">zabeth</span>
                    <p class="text-center">Canada, Uf</p>
                  </div>
                </div>
                <div class="tptestimonial__content">
                  <div class="tptestimonial__img img-border grayscale">
                    <img
                      class="mx-auto d-block"
                      src="{% static 'img/testimonial/home-1/testimonial-3.jpg' %}"
                      alt=""
                    />
                  </div>
                  <div class="tptestimonial__tlitle">
                    “I felt like I was
                    <span>developed more sustainable</span> ways to grow at a
                    point in my life where With my coach, I stagnating. Thank
                    you Coach!”
                  </div>
                  <div class="tptestimonial__authur">
                    <span class="text-center">HEATHER BURKE</span>
                    <p class="text-center">Prokriti, Polli</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial area end -->

  <!-- blog area start -->
  <section class="tpblog-area pb-130 pt-125">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="tpblog">
            <div class="section-title-wrapper">
              <span class="section-sub-title has-before has-after text-center">
                Our Article and Blog
              </span>
              <h3 class="section-title text-center">Check latest blog post</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row tp-gx-40">
        {% for post in posts %}
        <div class="col-xl-6 col-lg-6">
          <div
            class="tpblog mt-30 wow fadeInLeft"
            data-wow-duration="1s"
            data-wow-delay=".3s"
          >
            <div class="tpblog__thumb">
              <a href="{% url 'blog' post.slug %}"
                ><img
                  class="grayscale"
                  height="300px"
                  src="{{post.image.url}}"
                  alt=""
              /></a>
              
                    <a href="blogs"><span>{{ post.categories.first }}</span></a>
                    
                    
        
            </div>
            <div class="tpblog__content">
              <h3 class="tpblog__title">
                <a href="{% url 'blog' post.slug %}">{{post.title}}</a>
              </h3>
              <p>{{post.content}}</p>
              <div
                class="tpblog__details d-flex justify-content-md-between align-items-center flex-wrap"
              >
                <div class="tpblog__comments align-items-center">
                  <span>{{post.date}}<i class="fa-regular fa-clock"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <div class="tpcard-btn d-flex justify-content-center mt-55">
            <a class="tp-btn tp-btn-shine-effect" href="{% url 'blogs' %}"
              >All Posts</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- blog area end -->
</main>

{% endblock content %}
