{% extends 'main.html' %} {% load static %} {% block content %}
{% load custom_filters %}
<main>

   <!-- portfolio details thumb video area start-->
   <div class="portfolio-details-thumb-video wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="container">
         <div class="row">
            <div class="col-xl-12 margin-project">
              
            </div>
            <div class="col-xl-12">
               <div class="portfolio-details-img p-relative">
                  {{project.youtube_link|safe }}
               
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- portfolio details thumb video area  end-->

  
   <!-- portfolio details area start -->
   <div class="portfolio-details-area pt-70">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
               <div class="service-section portfolio-section mt-30">
                  <h3 class="service-title">{{project.title}}</h3>
                  
                  {{project.map|replace:"<iframe ,<iframe class='w-100 portfolio-details-thumb' "|safe}}

                 
                  

                  
                 
               </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
               <div class="portfolio-details mt-30">
                  <span class="portfolio-details-title">Project Overview</span>
                  <p>
                     {{project.content}}
                  </p>
               </div>
               <div class="row">
                  <div class="col-3">
                     <div class="portfolio-details-wrapper">
                        <span class="portfolio-details-name">Cost</span>
                        <p>{{project.cost}} Dt</p>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="portfolio-details-wrapper portfolio-margin">
                        <span class="portfolio-details-name">Location</span>
                        <p>{{project.location}}</p>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="portfolio-details-wrapper portfolio-margin">
                        <span class="portfolio-details-name">Category</span>
                        <p>{% for category in project.categories.all %}
{{ category.name }}, 
                           
                           {% endfor %}</p>
                     </div>
                  </div>
                  <div class="col-3">
                     <div class="portfolio-details-wrapper portfolio-margin">
                        <span class="portfolio-details-name">Date</span>
                        <p>{{project.date}}</p>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </div>
   <!-- portfolio details area end -->

  

   <!-- portfolio details thumb area start-->
   <div class="portfolio-details-thumb mb-100 pt-10 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
      <div class="container">
         <div class="row tp-gx-15">
            {% for image in project_images %}
            <div class="col-lg-4">
               <div class="portfolio-details-thumb">
                  <img src="{{image.image.url}}" alt="">
                </div>

                
            </div>
            {% endfor %}
            
            
         </div>
         
      </div>
   </div>
   <!-- portfolio details thumb area end-->



      </div>
    </div>
  </div>
  <!-- Blog details area end -->
</main>
{% endblock content %}
